.checkout {
    .v-stepper {
        background: transparent !important;
        box-shadow: unset !important;
    }
    
    .v-stepper__header {
        background: #fff;
        border-radius: 10px;
        direction: rtl;
    }

    .v-stepper__content {
        padding: 0px !important;
    }
    
    .v-stepper__label {
        font-size: 12px;
    }

    .v-stepper__step__step {
        height: 40px !important;
        width: 40px !important;
        border-radius: 15px !important;
        margin-bottom: 15px !important;
        font-size: 13px;
        i {
            font-weight: 700;
        }
    }

    .v-stepper__step--complete {
        .v-stepper__step__step {
            background-color: #00E676 !important;
            border-color: #00E676 !important;
            box-shadow: 0px 2px 5px -2px #00E676 !important;
        }
    }

    @media only screen and (max-width: 959px) {
        .v-stepper:not(.v-stepper--vertical) .v-stepper__label {
            display: flex !important;
            font-size: 11px;
            max-width: 90px;
            line-height: 1.5;
            text-align: center;
        }

        .v-stepper--alt-labels .v-stepper__step {
            flex-basis: 33.3% !important;
        }
    }

    .v-stepper__header .v-divider {
        margin: 44px -35px 0 !important;
        align-self: flex-start;
    }

    .v-radio:first-child {
        margin-right: 0;
    }

    .v-label {
        font-size: 14px !important;
        color: map-get($colors , "content");
        padding-right: 10px !important;
    }

    #mini-card-component .product-name.small {
        font-size: 11px !important;
        font-weight: 400 !important;
        text-align: center !important;
        color: map-get($colors , "sub-color") !important;
    }

    .box-address-group {
        border: 1px solid map-get($colors , "border");
        border-radius: 7px;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
        &.active {
            border-color: #0ecfc6;
            border-width: 2px;
            button::before {
                opacity: .04;
            }
        }
        .address-data {
            color: #a0a0a0;
            @media (max-width:768px) {
                font-size: 11px;
            }
        }
    }

    .headline-address-group {
        direction: rtl;
        display: flex;
        align-items: center;
        color: map-get($colors , "title");
        font-size: 14px;
        text-align: right;
        padding-right: 20px;
        margin-top: 0px;
        margin-bottom: 30px;
        @media (max-width:768px) {
            font-size: 12px !important;
        }
        button {
            height: 30px;
            width: 30px;
        }
        i {
            font-size: 20px !important;
        }
    }

    .address-fullname {
        font-size: 16px;
        @media (max-width:768px) {
            font-size: 15px;
            font-weight: 700;
        }
    }

    .address-data {
        display: flex;
        color: map-get($colors , "content");
        margin-top: 15px;
        font-size: 12px;
        li {
            margin-left: 15px;
            &:last-child {
                padding-right: 15px;
                border-right: 1px solid map-get($colors , "border")
            }
        }
        @media (max-width:768px) {
            flex-direction: column;
            li {
                &:last-child {
                    padding-right: 0px;
                    border-right: unset;
                }
            }
        }
    }

    .address-text {
        font-size: 13px;
        color: map-get($colors , "content");
    }
}