footer {
    background: #fafafa;
    border-top: 1.5px solid map-get($colors, "border");
    text-align: right;
    margin-top: 20px;
    padding: 25px 0px;

    h1 , .col-header {
        direction: rtl;
        color: map-get($colors , "title");
        font: {
            size: 16px;
            weight: bold; 
        }
        margin-bottom: 15px;
    }

    .description {
        font-size: 13px;
        color: map-get($colors , "content");
        line-height: 30px;
        margin-bottom: 0;
    }

    hr {
        background-color: map-get($colors, "divider");
        height: 0.1px;
        width: 97%;
        margin-left: auto;
        margin-right: auto;
    }

    .col-list {
        margin-bottom: 0;
        li {
            font-size: 13px;
            color: map-get($colors , "content");
            line-height: 25px;
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        a {
            color: map-get($colors , "content");
            transition: color .3s;
            &:hover {
                color: map-get($colors , "title");
            }
        }
    }
}

.footer-logo {
    max-height: 80px;
    max-width: 100%;
}

.trust-symbol {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    > div {
        background: #fff;
        padding: 10px;
        border: 1px solid map-get($colors , "border");
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        &::before {
            content: 'در انتظار تایید';
            position: absolute;
            top: 15px;
            right: -30px;
            width: 120px;
            text-align: center;
            background: #FF1744;
            color: #fff;
            font-size: 9px;
            padding: 5px 10px;
            transform: rotate(40deg);
            z-index: 2;
        }
    }
    img {
        height: 85px;
        width: 85px;
        filter: grayscale(1);
    }
}

@media (max-width: 768px) {
    footer {
        .container {
            padding-right: 1.5rem !important;
            padding-left: 1.5rem !important;
        }
    }
    .trust-symbol {
        div {
            img {
                height: 70px;
                width: 70px;
            }
        }
    }
}