.header-banner {
    z-index: 999;
    .v-responsive {
        z-index: 999;
    }
}

.site-logo {
    max-height: 50px;
    max-width: 100px;
    @media (max-width:540px) {
        max-height: 40px;
    }
}

.link-logo {
    max-width: 60%;
}

.smt-header {
    background: #fff;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 999;

    .login-text {
        font-size: 14px;
        color: map-get($colors, "secondary") !important;
    }

    .cart-btn {
        padding: 10px 20px;
        span {
            font-size: 13px;
        }
        i {
            font-size: 22px;
            margin-left: 6px !important;
        }
    }

    .categories {
        background: #616161;
        height: 40px;
        width: 100%;
        padding: 0px 3rem;
        border-bottom: 2px solid black;
        > ul {
            display: flex;
            position: relative;
            height: 100%;
            list-style-type: none;
        }
    }

    .ctg-hover {
        position: absolute;
        height: 2px;
        width: 90px;
        // background: #ef5661;
        bottom: -1px;
        right: 0;
        border-radius: 50px;
        transform: scaleX(0);
        transition: all .3s ease-in-out;
        pointer-events: none;
    }

    li.ctg-item {
        margin-bottom: -2px;
        > a {
            display: flex;
            align-items: center;
            height: 100%;
            color: #fff;
            padding: 8px 15px 10px;
            white-space: nowrap;
            font-size: 12px;
            transition: box-shadow .5s;
            &:hover {
                box-shadow: 0px 2px 12px 0px rgba(0,0,0,.25);
            }
        }
        i.lnr {
            font-size: 9px !important;
            margin-top: 1px;
        }
        i.fas {
            font-size: 9px !important;
            margin-top: 1px;
        }
    }

    .lnr-user {
        font-size: 31px;
        margin: 0px 16px 0px 8px;
        color: map-get($colors , "content");
    }

    .res-cart-btn {
        color: map-get($colors , "content");
        margin-right: 8px;
        display: flex;
        .lnr-cart {
            margin-bottom: 0;
        }
    }
}

.element-search {
    height: auto !important;
    padding: 0px !important;
    min-width: 300px;
    .con-vs-alert {
        height: unset !important;
        .vs-alert {
            padding: 0px !important;
        }
    }
}

.mega-menu {
    text-align: right !important;
    width: 75%;
    right: 0;
    left: auto !important;
    border: unset !important;
    border-radius: 0px 0px 7px 7px !important;
    @include Css3( 'box-shadow' , 0 2px 12px 0 rgba(0,0,0,0.1) );
    p.sub_1 {
        font-size: 12px;
        font-weight: bold;
        text-align: right;
        display: inline-block;
        margin-bottom: 5px;
        transition: color .4s
    }
    ul.sub_2 {
        padding-right: 20px;
        font-size: 11px;
        li {
            padding: 5px 0px;
            transition: transform .3s;
            &:hover {
                transform: translateX(-3px);
            }
        }
        a {
            color: map-get($colors , "secondary");
            transition: color .3s;
            &:hover {
                color: map-get($colors , "info");
            }
        }
    }
    .row.flex-column {
        max-height: 270px;
        overflow: auto;
    }
    .col-3 , .col-4 {
        display: inline-table;
    }
}

.user-info-drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    span {
        color: map-get($colors , "title");
        font-size: 14px;
        margin-top: 15px;
    }
}

.hamburger {
    display: flex;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;

    &:hover {
        opacity: 0.7;
    }

    &.is-active {
        &:hover {
            opacity: 0.7;
        }
        .hamburger-inner {
            background-color: map-get($colors, "title");

            &::before,
            &::after {
                background-color: map-get($colors, "title");
            }
        }
    }
}

.hamburger-box {
    width: 33px;
    height: 20px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
    width: 100%;
    height: 3px;
    background-color: map-get($colors, "content");
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;

    &::before ,
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: map-get($colors, "content");
        border-radius: 4px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    &::before {
        top: -9px;
    }

    &::after {
        bottom: -9px;
    }
}

.hamburger--spin {
    .hamburger-inner {
        transition-duration: 0.22s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

        &::before {
            transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
        }

        &::after {
            transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    }

    &.is-active .hamburger-inner {
        @include transform(rotate(225deg));
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

        &::before {
            top: 0;
            opacity: 0;
            transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
        }

        &::after {
            bottom: 0;
            @include transform(rotate(-90deg));
            transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    }
}

.el-badge__content {
    pointer-events: none;
}

.v-toolbar.v-sheet{
    z-index: 2;
    box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.11) !important; 
}

.drawer-cart-content {
    direction: rtl;
    height: calc( 105% - (64px + 120px) );
    padding: 15px 15px 35px;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    #mini-card-component {
        background: #fff;
        padding: 8px 5px;
        box-shadow: 0 5px 10px -8px #00bcd421, 0 6px 25px -12px rgba(0,0,0,.1);
        margin-bottom: 10px;
        border-radius: 10px;
    }
    i.del-btn {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: rgba(255, 71, 87, 0.71);
        font-size: 13px;
        padding: 6px;
        border-radius: 8px;
        cursor: pointer;
        transition: background .5s , color .5s;
        background: rgba(255, 71, 87, 0.05);
        svg {
            display: none;
        }
        &.disabled {
            svg {
                display: block;
            }
            color: map-get($colors , "content");
            background: map-get($colors , "background");
            cursor: default;
        }
    }
}

.drawer-cart-action {
    position: fixed;
    background: #fff;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 20px 20px 10px;
    box-shadow: 0px -3px 4px -1px rgba(0, 0, 0, 0.11);
    border-radius: 25px 25px 0px 0px;

    .drawer-final-price {
        direction: rtl;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 0px 5px;
        color: rgb(81, 81, 81);
    }

    .final-price-amount {
        font-size: 18px;
        @include price(12px);
    }

    .final-price-text {
        font-size: 13px;
    }
}