@mixin Css3($property, $value) {
    -webkit-#{$property}: #{$value};
     -khtml-#{$property}: #{$value};
       -moz-#{$property}: #{$value};
        -ms-#{$property}: #{$value};
         -o-#{$property}: #{$value};
            #{$property}: #{$value};
}

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin linear-gradient($property) {
    background: -webkit-gradient($property);
    background: -webkit-linear-gradient($property);
    background:    -moz-linear-gradient($property);
    background:     -ms-linear-gradient($property);
    background:      -o-linear-gradient($property);
    background:         linear-gradient($property);
}

@mixin box-shadow($property) {
    @include Css3( 'box-shadow' , $property );
}