.single-product {
    text-align: right;

    .gallery-thumbs {
        padding: 10px 0 0;
        .swiper-slide {
            width: 18%;
            height: 100%;
            opacity: 0.6;
            transition: opacity .3s
        }
        .swiper-slide-active {
            opacity: 1;
        }
        .thumb {
            border: 1px solid #ccc;
            border-radius: 4px;
            .v-image {
                border-radius: 4px;
            }
        }
    }

    .title {
        color: #484848;
        font: {
            size: 18px;
            weight: bold;
        }
        margin: .5rem 0;
        line-height: 28px;
    }

    .info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .attributes {
        position: relative;
        flex-grow: 1;
        margin-top: .5rem;
        padding: 1.5rem 1rem 1rem;
        color: #6b6b6b;
        > .row {
            height: 100%;
        }
    }

    .box-info {
        display: flex;
        flex-direction: column;
        border-radius: 7px;
        padding: 1rem;
        p {
            flex-grow: 1;
        }
    }

    .active-spec {
        > span {
            color: #55565a;
            display: block;
            font: {
                size: 13px;
                weight: bold;
            }
            margin-bottom: 10px;
        }
        li {
            position: relative;
            margin: 8px 0px;
            font-size: 12px;
            padding-right: 20px;
            &::before {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                top: 6px;
                right: 5px;
                background: #ccc;
                border-radius: 50%;
            }
        }
    }

    .features {
        height: 80px;
        width: 100%;
    }

    .second-title {
        position: absolute;
        background: #fff;
        color: #b5b5b5;
        top: -10px;
        right: 0;
        font-size: 13px;
        padding-left: 10px;
    }

    .price {
        text-align: center;
        font: {
            size: 25px;
            weight: bold;
        }
        padding-bottom: 16px;
    }

    .product-description {
        color: #6b6b6b;
        line-height: 25px;
    }

    .add-to-cart {
        position: relative;
        max-height: 40px;
        font-size: 12px;
        overflow: hidden;
        padding-right: 15px !important;
        i {
            font-size: 20px;
            margin-left: 25px;
            margin-bottom: 3px;
        }
        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 270px;
            background: #fff;
            opacity: 0.15;
            transition: transform 0.5s;
            transform: skew(-20deg) translateX(178px);
        }
        &:hover {
            &::after {
                transform: skew(-20deg) translateX(-91px);
            }
        }
    }

    ul.variations {
        min-height: 75px;
        li {
            margin: 0.7rem 0.1rem;
            display: flex;
            align-items: center;
            i {
                font-size: 14px;
                margin-left: 8px;
            }
        }
        .el-radio {
            margin: 0px 4px !important;
            padding: 6px 15px 0 15px !important;
            .el-radio__input {
                display: none;
            }
            .el-radio__label {
                padding: 0px;
                font-size: 11px !important;
            }
        }
    }

    // Spec

    .review-text {
        background: #fcfcfc;
    }

    .spec-title {
        display: inline-block;
        margin-bottom: 1rem;
        font: {
            size: 14.5px;
            weight: bold;
        }
    }

    .row-title {
        background: #f5f5f5;
        color: #777777;
        padding: .75rem 1rem;
        margin-bottom: .5rem;
        font-size: 12px;
        border-left: 8px solid #fff;
    }

    .row-value {
        background: #fafafa;
        color: #777777;
        padding: .75rem 1rem;
        margin-bottom: .5rem;
        margin-right: auto;
        font-size: 12px;
    }

    // Comments 

    .comments {
        margin: 0;
        direction: rtl;
    }
    
    .comments-note {
        padding: 1.5rem;
        > span {
            color: #5a5a5a;
            font-size: 16px;
        }
        p {
            color: #676767;
            margin-top: 1rem;
            font-size: 13px;
        }
    }

    .ranks {
        background: #fcfcfc;
        padding: 1.5rem;
        font-size: 14px;
        border-radius: 7px;
    }

    .el-alert__closebtn {
        right: unset !important;
        left: 15px;
    }

    // Questions

    .questions {
        @extend .comments;
    }

}

.add-comment {
    .vs-dialog {
        max-width: 600px !important;
    }
}

@media (max-width:768px) {
    .single-product {
        .title {
            font: {
                size: 15px;
            }
            margin: 0.8rem 0;
        }
        .row-title {
            margin-bottom: 0;
            border-left: unset;
        }
    }
}