.single-product {
    text-align: right;

    .title {
        color: #484848;
        font: {
            size: 16px;
            weight: bold;
        }
        margin: .5rem 0;
        line-height: 28px;
    }

    .info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .attributes {
        position: relative;
        flex-grow: 1;
        margin-top: .5rem;
        padding: 16px;
        color: #6b6b6b;
        > .row {
            height: 100%;
        }
    }

    .box-info {
        display: flex;
        flex-direction: column;
        border-radius: 7px;
        padding: 1rem;
        p {
            flex-grow: 1;
        }
    }

    .active-spec {
        > span {
            color: #55565a;
            display: block;
            font: {
                size: 13px;
                weight: bold;
            }
            margin-bottom: 10px;
        }
        li {
            position: relative;
            margin: 8px 0px;
            font-size: 12px;
            padding-right: 20px;
            &::before {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                top: 6px;
                right: 5px;
                background: #ccc;
                border-radius: 50%;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .features {
        height: 80px;
        width: 100%;
    }

    .second-title {
        position: absolute;
        background: #fff;
        color: #b5b5b5;
        top: -10px;
        right: 0;
        font-size: 13px;
        padding-left: 10px;
    }

    .price {
        text-align: center;
        font: {
            size: 25px;
            weight: bold;
        }
        padding-bottom: 16px;
    }

    .product-description {
        color: #6b6b6b;
        line-height: 25px;
    }

    .add-to-cart {
        button {
            height: 50px !important;
            font-size: 16px;
            padding-right: 15px !important;
        }
        i {
            font-size: 25px;
            margin-left: 10px;
            margin-bottom: 3px;
        }
    }

    .variations {
        min-height: 75px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 8px;
        margin-bottom: 16px;
        li {
            position: relative;
            margin-bottom: 12px;
            display: flex;
            align-items: center;
            &:last-child {
                margin-bottom: 0;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: -5px;
                height: 100%;
                width: 50px;
                opacity: 1;
                bottom: 30px;
                z-index: 2;
                background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7) 60%, #ffffff);
                pointer-events: none;
            }
        }
        i {
            font-size: 14px;
            margin-left: 8px;
        }
        .warranties {
            .el-radio-group {
                width: calc( 100% - 120px ) !important;
            }
        }
        .el-radio-group {
            width: calc( 100% - 105px );
        }
        .el-radio {
            margin: 0px 4px !important;
            padding: 7px 15px 0 15px !important;
            border-radius: 6px;
        }
        .el-radio__input {
            display: none;
        }
        .el-radio__label {
            padding: 0px;
            font-size: 11px !important;
        }
        .swiper-slide {
            width: fit-content;
        }
    }

    // Spec

    .review-text {
        background: #fcfcfc;
    }

    .spec-title {
        display: inline-block;
        margin-bottom: 1rem;
        font: {
            size: 14.5px;
            weight: bold;
        }
    }

    .row-title {
        background: #f5f5f5;
        color: #777777;
        padding: .75rem 1rem;
        margin-bottom: .5rem;
        font-size: 12px;
        border-left: 8px solid #fff;
    }

    .row-value {
        background: #fafafa;
        color: #777777;
        padding: .75rem 1rem;
        margin-bottom: .5rem;
        margin-right: auto;
        font-size: 12px;
    }

    // Comments 

    .comments {
        margin: 0;
        direction: rtl;
    }
    
    .comments-note {
        padding: 1.5rem;
        > span {
            color: #5a5a5a;
            font-size: 16px;
        }
        p {
            color: #676767;
            margin-top: 1rem;
            font-size: 13px;
        }
    }

    .ranks {
        background: #fcfcfc;
        padding: 24px 24px 5px;
        font-size: 14px;
        border-radius: 7px;
    }

    .el-slider__runway {
        margin-top: 7px;
    }

    .el-alert__closebtn {
        right: unset !important;
        left: 15px;
    }

    // Questions

    .questions {
        @extend .comments;
    }

    .el-color {
        display: inline-block !important;
        width: 15px;
        height: 15px;
        border-radius: 5px;
        border: 1px solid #bdbdbd;
        margin-left: 5px;
    }
}

.variation-title {
    min-width: fit-content;
}

.gallery-thumbs {
    padding: 10px 0 0;
    .swiper-slide {
        width: 18%;
        height: 100%;
        opacity: 0.6;
        transition: opacity .3s
    }
    .swiper-slide-active {
        opacity: 1;
    }
    .thumb {
        border: 1px solid #ccc;
        border-radius: 4px;
        .v-image {
            border-radius: 4px;
        }
    }
}

.add-comment {
    .vs-dialog {
        max-width: 600px !important;
    }
}

.product-options {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 2;
    button {
        height: 48px !important;
        width: 48px !important;
    }
    i {
        font-size: 25px;
        display: flex;
    }
}

@media (max-width:768px) {
    .single-product {
        .title {
            font: {
                size: 15px;
            }
            margin: 0.8rem 0;
        }

        .row-title {
            margin-bottom: 0;
            border-left: unset;
        }

        .box-info {
            margin: 20px 15px 0px;
        }

        .add-to-cart {
            background: #f5f5f5;
            position: fixed;
            bottom: -1px;
            right: 0;
            left: 0;
            width: 100%;
            z-index: 99;
            padding: 10px;
        }

        .attributes {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.el-radio__input.is-checked+.el-radio__label {
    transition: color .3s;
}

.el-radio.is-bordered.is-checked {
    transition: border-color .3s;
}