.profile {
    color: #515151;
    
    .el-card {
        color: #515151;
    }

    .box-header {
        text-align: center;
        border-bottom: 1px solid #EBEEF5;
    }

    .box-username {
        padding: 35px 30px 20px;
        text-align: center;
        font-size: 15px;
    }
}

.box-actions {
    &.small {
        button {
            padding: 9px 16px !important;
        }
    }
    border-top: 1px solid #EBEEF5;
    margin: 0;
    button {
        border-right: 1px solid #EBEEF5;
        border-radius: 0 !important;
        height: unset !important;
        padding: 12px 16px !important;
    }
    span {
        font-size: 11px;
    }
    i {
        font-size: 20px;
        margin: 0 0 2px 7px;
    }
}

.profile-menu {
    direction: rtl;
    text-align: right;
    font-size: 13px;
    ul {
        direction: rtl;
        text-align: right;
        border-right: unset !important;
    }
    i {
        margin-left: 7px;
        margin-bottom: 5px;
        font-size: 20px !important
    }
}

.headline-info {
    display: block;
    color: map-get($colors , "content");
    font-size: 16px;
    text-align: right;
    padding: 0px 20px;
    margin: 15px 0px; 
    & + .el-card {
        height: calc(100% - 54px);
    }
}

.user-info {
    margin: 0px !important;
    > div[class^="col-"] {
        text-align: right;
        padding: 20px 30px;
        border-right: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
    }
    p {
        color: #737373;
        font-size: 15px;
        margin: 0 !important;
    }
    span {
        display: block;
        font-size: 13px;
        margin-bottom: 7px;
        color: #bababa;
    }
}

.recent-fav {
    border-bottom: 1px solid #f1f1f1;
}

@media (min-width:1265px) {
    .addresses , .favorites {
        .col-lg-6:nth-child(even) {
            padding-right: 0;
        }
    }

    .col-even {
        padding-right: 0;
    }
}

.box-address {
    position: relative;
    padding: 25px 30px 15px;
    &::before {
        content: "";
        height: 3px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(90deg,#00bfd6 48px,#ff7e7e 0) repeat-x;
        background-size: 96px 3px;
    }
}

.address-fullname {
    font-size: 18px;
    text-align: right;
    margin-bottom: 10px;
    color: #6d6d6d;
}

.address-text {
    font-size: 13px;
    line-height: 1.8;
    text-align: right;
    margin-bottom: 30px;
    color: map-get($colors , "sub-color");
}

.address-data {
    @extend .address-text;
    margin: 0;
    li {
        display: flex;
        margin-bottom: 10px;
    }
    i {
        font-size: 20px;
        margin-left: 15px;
        color: map-get($colors , "sub-color-2");
    }
}

.title-address-dialog {
    text-align: right;
    justify-self: flex-start;
    font-size: 15px;
    font-weight: bold;
    color: map-get($colors , "content");
    i {
        font-size: 22px !important;
        color: map-get($colors , "sub-color") !important;
        margin-left: 7px;
        margin-top: -2px;
    }
}

.new-address-map {
    direction: ltr;
    .vue2leaflet-map {
        height: 332px;
        width: 100%;
        border-radius: 5px;
        border-width: 1.5px !important;
    }
}