@import "variables";
@import "mixin";

@import "header";

@import "card";
@import "category";
@import "product";
@import "cart";
@import "checkout";
@import "profile";

@import "footer";

@font-face {
    font-family: 'iransans';
    src: url('~assets/Fonts/Iransans/Iransans.eot') format('eot'),
         url('~assets/Fonts/Iransans/Iransans.woff') format('woff'),
         url('~assets/Fonts/Iransans/Iransans.woff2') format('woff2'),
         url('~assets/Fonts/Iransans/Iransans.ttf') format('truetype');
}

html {
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font: {
        family: 'iransans', sans-serif;
        size: 14px;
        weight: 400;
        color: #222222
    }
    box-sizing: border-box;
    body {
        height: 100%;
        background: #f5f5f5;
    }
}

* {
    font-family: 'iransans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    &:before {
        box-sizing: border-box;
        margin: 0;
        outline: none !important;
    }
    &:focus {
        outline: none !important;
    }
}

a {
    text-decoration: none !important;
}

ul {
    margin: 0;
    list-style-type: none;
}

article, aside, footer, header, nav, section {
    display: block;
}

label {
    margin: 0 !important;
}

legend {
    width: unset !important;
}

hr.v-divider {
    margin: 0;
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

.bold {
    font-weight: bold !important;
}

.rounded-7 {
    border-radius: 7px !important;
}

.as-shadow {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1) !important;
}

.am-shadow {
    box-shadow: 0 5px 10px -8px #00bcd421, 0 6px 25px -12px rgba(0,0,0,.1) !important;
}

.search-input {
    input {
        background: map-get($colors , "background");
        border: unset;
        color: #555;
        border-radius: 7px;
        font-size: 12px;
        &::placeholder {
            color: map-get($colors , "sub-color");
            font-size: 12px;
        }
    }
    .el-input__icon {
        color: map-get($colors , "sub-color");
    }
}

.add-btn-dashed {
    border: 4px dashed #b8b8b8;
    background: #fff;
    color: #a0a0a0;
    padding: 15px 0px;
    font-size: 14px;
    line-height: 2;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 7px;
}

.v-dialog--fullscreen {
    width: 100% !important;
}

span.title-field {
    direction: rtl;
    display: block;
    position: relative;
    text-align: right;
    color: map-get($colors , "content");
    margin-bottom: 10px;
    font-size: 14px;
    padding-right: 5px;
    &.required::after {
        color: #ff0000 !important;
        content: '*';
        font-size: 15px;
    }
}

.v-text-field--outlined > .v-input__control > .v-input__slot {
    min-height: 45px !important;
}

.v-text-field--outlined .v-label {
    font-size: 12px;
    top: 13px !important;
    right: 0 !important;
    text-align: right;
    color: map-get($colors , "sub-color-2") !important;
}

.v-text-field .v-text-field__details {
    margin-bottom: 0px !important;
    min-height: 20px !important;
}

.v-messages__message {
    font-size: 10px;
}

.v-text-field {
    &.primary--text fieldset , &.error--text fieldset {
        border-width: 1px !important;
    }
}

.v-text-field:not(.primary--text , .error--text) {
    fieldset {
        border-color: #9b9b9b !important;
    }
}

.v-text-field--outlined .v-input__append-inner {
    margin-top: 11px !important;
    padding-left: 0 !important;
}

.v-menu__content {
    direction: rtl;
}

.v-select-list {
    .v-list-item {
        min-height: 37px !important;
    }
    .v-list-item__title {
        font-size: 13px;
        text-align: right;
    }
}

.v-select__selection {
    font-size: 13px;
}

@each $size in ( 10 , 12 , 13 , 14 , 16 , 18 , 20 ) {
    .fs-#{$size} {
        font-size: #{$size}px !important; 
    }
}

@each $class , $size in ( 20:20% , 80:80% ) {
    .h-#{$class} {
        height: #{$size} !important; 
    }
}

.v-btn__content {
    letter-spacing: 0px;
}

// Slider And Posters Style
.slider .swiper-container , img.poster , .aside-poster {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.image-slider {
    width: 100%;
    max-height: 400px;
}

.el-card.am-shadow {
    border: unset !important;
    @media (max-width:768px) {
        border-radius: 10px;
    }
}

.v-html {
    p {
        text-align: justify !important;
        direction: rtl;
        font-size: 13.5px;
        color: #505050;
        line-height: 2.7;
    }
}

.Advantages {
    color:#00E676
}

.Disadvantages {
    color:#ff637d
}

.flex-center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.vs-popup--title h3 {
    text-align: center;
    color: #777777;
    font-weight: bold;
    margin: 5px;
}

.con-vs-slider {
    min-width: unset !important;
}

.title-input {
    display: block;
    position: relative;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    color: #484848;
    margin-bottom: .5rem;
    padding-right: 5px;
}

.title-input.required:after {
    color: #ff0000 !important;
    content: '*';
    font-size: 15px;
}

.input .v-text-field {
    .v-input__slot {
        min-height: 45px !important;
        max-height: 45px !important;
        .v-label {
            top: 12px !important;
            font-size: 13px !important;
        }
    }
    input {
        font-size: 13px;
    }
    .v-input__prepend-inner {
        margin-top: 10px !important;
    }
}

.v-textarea {
    .v-input__slot {
        padding-left: 0px !important;
    }
    .v-text-field__slot {
        label {
            right: 12px !important;
            font-size: 12px;
        }
    }
    textarea {
        text-align: right;
        font-size: 13px;
        line-height: 2 !important;
        padding-left: 12px !important;
        margin-top: 0px !important;
    }
}