@import "variables";
@import "mixin";

@import "header";

@import "card";
@import "category";
@import "product";
@import "cart";

@import "footer";

@font-face {
    font-family: 'iransans';
    src: url('~assets/Fonts/Iransans/Iransans.eot') format('eot'),
         url('~assets/Fonts/Iransans/Iransans.woff') format('woff'),
         url('~assets/Fonts/Iransans/Iransans.woff2') format('woff2'),
         url('~assets/Fonts/Iransans/Iransans.ttf') format('truetype');
}

html {
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font: {
        family: 'iransans', sans-serif;
        size: 14px;
        weight: 400;
        color: #222222
    }
    box-sizing: border-box;
    body {
        height: 100%;
        background: #f5f5f5;
    }
}

* {
    font-family: 'iransans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    &:before {
        box-sizing: border-box;
        margin: 0;
        outline: none !important;
    }
    &:focus {
        outline: none !important;
    }
}

main {
    padding-top: 125px;
}

a {
    text-decoration: none !important;
}

ul {
    margin: 0;
    list-style-type: none;
}

article, aside, footer, header, nav, section {
    display: block;
}

label {
    margin: 0;
}

legend {
    width: unset;
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

.bold {
    font-weight: bold !important;
}

.rounded-7 {
    border-radius: 7px !important;
}

.as-shadow {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1) !important;
}

.am-shadow {
    box-shadow: 0 5px 10px -8px #00bcd421, 0 6px 25px -12px rgba(0,0,0,.1) !important;
}

@each $size in ( 10 , 12 , 13 , 14 , 18 , 20 ) {
    .fs-#{$size} {
        font-size: #{$size}px !important; 
    }
}

@each $class , $size in ( 20:20% , 80:80% ) {
    .h-#{$class} {
        height: #{$size} !important; 
    }
}

.v-btn__content {
    letter-spacing: 0px;
}

// Slider And Posters Style
.slider .swiper-container , img.poster , .aside-poster {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.image-slider {
    width: 100%;
    max-height: 400px;
}

.el-card.am-shadow {
    border: unset !important;
}

.v-html {
    p {
        text-align: justify !important;
        direction: rtl;
        font-size: 13.5px;
        color: #505050;
        line-height: 2.7;
    }
}

.Advantages {
    color:#00E676
}

.Disadvantages {
    color:#ff637d
}

.flex-center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.vs-popup--title h3 {
    text-align: center;
    color: #777777;
    font-weight: bold;
    margin: 5px;
}

.con-vs-slider {
    min-width: unset !important;
}

.title-input {
    display: block;
    position: relative;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    color: #484848;
    margin-bottom: .5rem;
    padding-right: 5px;
}

.title-input.required:after {
    color: #ff0000 !important;
    content: '*';
    font-size: 15px;
}

.input .v-text-field {
    .v-input__slot {
        min-height: 45px !important;
        max-height: 45px !important;
        .v-label {
            top: 12px !important;
            font-size: 13px !important;
        }
    }
    input {
        font-size: 13px;
    }
    .v-input__prepend-inner {
        margin-top: 10px !important;
    }
}

.v-textarea {
    .v-input__slot {
        padding-left: 0px !important;
    }
    .v-text-field__slot {
        label {
            right: 12px !important;
            font-size: 13px;
        }
    }
    textarea {
        font-size: 13px;
        line-height: 2 !important;
        padding-left: 12px !important;
    }
}