@import "variables";
@import "mixin";

@import "header";

@import "card";
@import "category";
@import "product";
@import "cart";
@import "checkout";
@import "profile";

@import "footer";

@font-face {
    font-family: 'iransans';
    src: url('~assets/Fonts/Iransans/Iransans.eot') format('eot'),
         url('~assets/Fonts/Iransans/Iransans.woff') format('woff'),
         url('~assets/Fonts/Iransans/Iransans.woff2') format('woff2'),
         url('~assets/Fonts/Iransans/Iransans.ttf') format('truetype');
}

html {
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font: {
        family: 'iransans', sans-serif;
        size: 14px;
        weight: 400;
        color: #222222
    }
    box-sizing: border-box;
    body {
        height: 100%;
        background: #f5f5f5;
    }
}

* {
    font-family: 'iransans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    &:before {
        box-sizing: border-box;
        margin: 0;
        outline: none !important;
    }
    &:focus {
        outline: none !important;
    }
}

main {
    padding-top: 125px;
}

a {
    text-decoration: none !important;
}

p {
    direction: rtl;
    text-align: justify;
    line-height: 2;
}

ul {
    margin: 0;
    list-style-type: none;
}

body {
    h1, h2, h3, h4, h5, h6 {
        line-height: 2;
    }
}

article, aside, footer, header, nav, section {
    display: block;
}

label {
    margin: 0px;
}

legend {
    width: unset !important;
}

#loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    transition: opacity .3s;

    .gooey {
        width: 150px;
        height: 40px;
        background: #fff;
        filter: contrast(20);

        .dot {
            position: absolute;
            width: 16px;
            height: 16px;
            top: 12px;
            left: 15px;
            filter: blur(4px);
            background: #000;
            border-radius: 50%;
            transform: translateX(0);
            animation: dot 2.8s infinite;
        }

        .dots {
            transform: translateX(0);
            margin-top: 12px;
            margin-left: 31px;
            animation: dots 2.8s infinite;

            span {
                display: block;
                float: left;
                width: 16px;
                height: 16px;
                margin-left: 16px;
                filter: blur(4px);
                background: #000;
                border-radius: 50%;
            }
        }
    }
}

.loading-logo {
    max-height: 150px;
    max-width: 150px;
    margin-bottom: 20px;
    // animation: fade-infinite 2s infinite;
}

#error-page {
    direction: rtl;
    background: #fff;
    text-align: center;
    padding: 50px;
    margin: 16px 16px 0px;
    border-radius: 10px;
    box-shadow: 0 5px 10px -8px #00bcd421, 0 6px 25px -12px rgba(0,0,0,.1);
    h1 {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 32px;
        line-height: 1.5;
    }
    h2 {
        font-size: 140px;
        font-weight: bold;
        line-height: 1;
    }
}

#no-data {
    text-align: center;
    color: map-get($colors , "title");
    padding: 20px;
    * {
        text-align: center;
    }
    img {
        height: 120px;
        width: 120px;
    }
    svg {
        height: 120px;
        width: 120px;
        fill: map-get($colors , "title");
    }
    i {
        font-size: 80px;
        padding: 20px;
    }
    p {
        font-size: 16px;
        font-weight: 700;
        margin: 25px 0px;
    }
}

#is-offline {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(74,74,74,.43);
    z-index: 999;
    > div {
        background: #fff;
        padding: 40px 100px 25px;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2) ,
        0px 24px 38px 3px rgba(0, 0, 0, 0.14) ,
        0px 9px 46px 8px rgba(0, 0, 0, 0.12);
        > span {
            display: block;
            font-size: 12px;
            color: map-get($colors , "content");
            margin-bottom: 20px;
        }
    }
    p {
        margin: 30px 0px 0px;
        font-weight: 700;
        text-align: center;
        color: map-get($colors , "title");
    }
}

@keyframes fade-infinite {
    0%   { opacity:1 }
    50%  { opacity:0 }
    100% { opacity:1 }
}

@keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: .5s;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 5%, 0);
        -webkit-transform: translate3d(0, 5%, 0);
    }
  
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}

.fadeOutDown {
    animation-name: fadeOutDown;
    animation-duration: .5s;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOutDown;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: both;
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(0, 5%, 0);
        -webkit-transform: translate3d(0, 5%, 0);
    }
}

.v-application {
    background: unset !important;
    color: unset !important;
}

.v-application--wrap {
    flex: 1 1 auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    min-height: unset !important;
    max-width: unset !important;
    position: relative;
}

[class^="col-"] , [class*=" col-"] {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

hr.v-divider {
    margin: 0;
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

.bold {
    font-weight: bold !important;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 90;
    transition: right .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &.hidden {
        right: -50px;
    }
}

.rounded-7 {
    border-radius: 7px !important;
}

.as-shadow {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1) !important;
}

.am-shadow {
    box-shadow: 0 5px 10px -8px #00bcd421, 0 6px 25px -12px rgba(0,0,0,.1) !important;
}

.color-inherit {
    color: inherit !important;
}

.search-input {
    input {
        background: map-get($colors , "background");
        border: unset;
        color: #555;
        border-radius: 7px;
        font-size: 12px;
        &::placeholder {
            color: map-get($colors , "sub-color");
            font-size: 12px;
        }
    }
    .el-input__icon {
        color: map-get($colors , "sub-color");
    }
}

.content-noti {
    padding: 10px;
    .con-text-noti {
        h3 {
            display: none;
        }
        p {
            direction: rtl;
            padding-right: 15px !important;
            font-size: 12px !important;
            text-align: justify;
            margin-bottom: 0;
        }
    }
}

.add-btn-dashed {
    border: 4px dashed #b8b8b8;
    background: #fff;
    color: #a0a0a0;
    padding: 15px 0px;
    font-size: 14px;
    line-height: 2;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 7px;
}

.alert {
    direction: rtl;
    text-align: right;
}

.el-link span {
    display: flex;
    align-items: center;
    i {
        font-size: 20px;
        margin-left: 7px;
    }
}

.v-dialog {
    background: #fff;
}

.v-dialog--fullscreen {
    width: 100% !important;
}

.dialog-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    line-height: 2rem;
    padding: 8px 20px 8px 10px;
    color: #767676;
}

.dialog-content {
    padding: 20px 25px;
}

span.title-field {
    direction: rtl;
    display: block;
    position: relative;
    text-align: right;
    color: map-get($colors , "content");
    margin-bottom: 10px;
    font-size: 14px;
    padding-right: 5px;
    &.required::after {
        color: #ff0000 !important;
        content: '*';
        font-size: 15px;
    }
}

.v-text-field--outlined > .v-input__control > .v-input__slot {
    min-height: 45px !important;
}

.v-text-field--outlined .v-label {
    font-size: 12px;
    top: 13px !important;
    right: 0 !important;
    text-align: right;
    color: map-get($colors , "sub-color-2") !important;
}

.v-text-field .v-text-field__details {
    margin-bottom: 0px !important;
    min-height: 20px !important;
}

.v-messages__message {
    font-size: 10px;
}

.v-text-field {
    &.primary--text fieldset , &.error--text fieldset {
        border-width: 1px !important;
    }

    i {
        font-size: 22px !important;
    }
}

.v-text-field:not(.primary--text , .error--text) {
    fieldset {
        border-color: #9b9b9b !important;
    }
}

.v-text-field--outlined .v-input__append-inner {
    margin-top: 11px !important;
    padding-left: 0 !important;
}

.v-menu__content {
    direction: rtl;
}

.v-select-list {
    .v-list-item {
        min-height: 37px !important;
    }
    .v-list-item__title {
        font-size: 13px;
        text-align: right;
    }
}

.v-select__selection {
    font-size: 13px;
}

@each $size in ( 10 , 12 , 13 , 14 , 16 , 18 , 20 , 22 ) {
    .fs-#{$size} {
        font-size: #{$size}px !important; 
    }
}

@each $class , $size in ( 20:20% , 80:80% ) {
    .h-#{$class} {
        height: #{$size} !important; 
    }
}

.v-btn--disabled {
    box-shadow: unset !important;
    &.as-btn {
        background: unset !important;
    }
}

.v-btn__content {
    letter-spacing: 0px;
}

// Slider And Posters Style
.slider .swiper-container , img.poster , .aside-poster {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    width: 25px !important;
    height: 20px !important;
    -webkit-filter: drop-shadow(0 2px 4px #616161);
    filter: drop-shadow(0 2px 4px #616161);
    @media (max-width:576px) {
        display: none;
    }
}

.swiper-button-prev {
    left: 25px !important;
}

.swiper-button-next {
    right: 25px !important;
}

.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background-color: #fff !important;
    opacity: .8 !important;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
    margin: 0 6px!important;
    position: relative;
    &.swiper-pagination-bullet-active {
        background-color: #00bfd6 !important;
        opacity: 1 !important;
    }
}

.image-slider {
    width: 100%;
    max-height: 400px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 5% !important;
}
// Slider And Posters Style


.el-card.am-shadow {
    border: unset !important;
    @media (max-width:768px) {
        border-radius: 10px;
    }
}

.v-html {
    p {
        text-align: justify !important;
        direction: rtl;
        font-size: 13.5px;
        color: #505050;
        line-height: 2.7;
    }
}

.Advantages {
    color:#00E676
}

.Disadvantages {
    color:#ff637d
}

.flex-center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.vs-popup--title h3 {
    text-align: center;
    color: #777777;
    font-weight: bold;
    margin: 5px;
}

.con-vs-slider {
    min-width: unset !important;
}

.title-input {
    display: block;
    position: relative;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    color: #484848;
    margin-bottom: .5rem;
    padding-right: 5px;
}

.title-input.required:after {
    color: #ff0000 !important;
    content: '*';
    font-size: 15px;
}

.input .v-text-field {
    .v-input__slot {
        min-height: 45px !important;
        max-height: 45px !important;
        .v-label {
            top: 12px !important;
            font-size: 13px !important;
        }
    }
    input {
        font-size: 13px;
    }
    .v-input__prepend-inner {
        margin-top: 10px !important;
    }
}

.v-textarea {
    .v-input__slot {
        padding-left: 0px !important;
    }
    .v-text-field__slot {
        label {
            right: 12px !important;
            font-size: 12px;
        }
    }
    textarea {
        text-align: right;
        font-size: 13px;
        line-height: 2 !important;
        padding-left: 12px !important;
        margin-top: 0px !important;
    }
}

.vs-button--icon {
    z-index: inherit !important;
}

.v-label {
    margin-bottom: 0px;
}