.site-logo {
  max-height: 50px;
  max-width: 150px;
}

header.smt-header {
  background: #fff;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 999;
}
header.smt-header .login-text {
  font-size: 14px;
  color: #777777 !important;
}
header.smt-header .cart-btn span {
  font-size: 13px;
}
header.smt-header .cart-btn i {
  font-size: 22px;
  margin-left: 6px !important;
}
header.smt-header .categories {
  background: #616161;
  height: 40px;
  width: 100%;
  padding: 0px 3rem;
  border-bottom: 2px solid black;
}
header.smt-header .categories > ul {
  display: flex;
  height: 100%;
  list-style-type: none;
}
header.smt-header .categories > ul > li.ctg-item > a {
  display: flex;
  align-items: center;
  height: 100%;
  color: #fff;
  padding: 8px 15px;
  white-space: nowrap;
  font-size: 12px;
  transition: box-shadow 0.5s;
}
header.smt-header .categories > ul > li.ctg-item > a:hover {
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
}
header.smt-header .categories > ul > li.ctg-item > a i.lnr {
  font-size: 9px !important;
  margin-top: 1px;
}
header.smt-header .categories > ul > li.ctg-item > a i.fas {
  font-size: 9px !important;
  margin-top: 1px;
}
header.smt-header .categories > ul > li.ctg-item .mega-menu {
  text-align: right;
  margin: 0px 3rem;
  width: 75%;
  right: 0;
  left: auto;
  border: unset;
  border-radius: 0px 0px 7px 7px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
header.smt-header .categories > ul > li.ctg-item .mega-menu p.sub_1 {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  display: inline-block;
  margin-bottom: 5px;
  transition: color 0.4s;
}
header.smt-header .categories > ul > li.ctg-item .mega-menu ul.sub_2 {
  padding-right: 20px;
  font-size: 11px;
}
header.smt-header .categories > ul > li.ctg-item .mega-menu ul.sub_2 li {
  padding: 5px 0px;
}
header.smt-header .categories > ul > li.ctg-item .mega-menu ul.sub_2 li a {
  color: #7b7b7b;
}
header.smt-header .categories > ul > li.ctg-item .mega-menu .row.flex-column {
  height: 270px;
}
header.smt-header .categories > ul > li.ctg-item .mega-menu .col-3 {
  display: inline-table;
}
header.smt-header .hamburger {
  padding: 15px 15px;
  padding-right: 4px;
  display: flex;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  float: right;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
header.smt-header .hamburger:hover {
  opacity: 0.7;
}
header.smt-header .hamburger.is-active:hover {
  opacity: 0.7;
}
header.smt-header .hamburger.is-active .hamburger-inner {
  background-color: #000;
}
header.smt-header .hamburger.is-active .hamburger-inner::before, header.smt-header .hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}
header.smt-header .hamburger-box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}
header.smt-header .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 35px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
header.smt-header .hamburger-inner::before, header.smt-header .hamburger-inner::after {
  content: "";
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
header.smt-header .hamburger-inner::before {
  top: -10px;
}
header.smt-header .hamburger-inner::after {
  bottom: -10px;
}
header.smt-header .hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
header.smt-header .hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
header.smt-header .hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
header.smt-header .hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
header.smt-header .hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
header.smt-header .hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes fadeIn-image-overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
#card-component {
  perspective: 800px;
  width: 100%;
  height: 320px;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: transform 5s;
  border-radius: 7px;
  transition: box-shadow 0.2s, transform 0.2s;
}
#card-component:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.product-card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  transform-style: preserve-3d;
  -webkit-transition: 100ms ease-out;
  -moz-transition: 100ms ease-out;
  -o-transition: 100ms ease-out;
  transition: 100ms ease-out;
}
.product-card.animate {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: 100ms ease-out;
  -moz-transition: 100ms ease-out;
  -o-transition: 100ms ease-out;
  transition: 100ms ease-out;
}
.product-card.animate .image-overlay {
  display: block !important;
}
.product-card.animate .product-info {
  top: 80px !important;
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
}
.product-card.animate .product-info.labled {
  top: 120px !important;
}
.product-card .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222222;
  display: none;
  opacity: 0;
  animation-name: fadeIn-image-overlay;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
}
.product-card .product-info {
  background: #fff;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  width: 100%;
  height: 240px;
  padding: 15px 25px;
  transition: top 0.3s 0.2s, border-top-left-radius 0.3s 0.3s, border-top-right-radius 0.3s 0.3s;
}
.product-card .product-info.labled {
  height: 200px;
}
.product-card .product-info .product-name {
  color: #505253;
  font-size: 13px;
  max-width: 100%;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-card .product-info .product-price {
  color: #484848;
  font-size: 18px;
  font-weight: 600;
}
.product-card .product-info .product-price span {
  font-size: 12px;
}
.product-card .product-info .offer-price {
  display: block;
  position: relative;
  height: 20px;
  font-size: 13px;
  color: #9E9E9E;
  margin-bottom: 5px;
}
.product-card .product-info .offer-price span:after {
  content: " ";
  position: absolute;
  background: currentColor;
  width: 28%;
  height: 1px;
  top: 8px;
  left: 50%;
  border-radius: 50px;
  transform: translateX(-50%) rotate(-5deg);
}
.product-card .product-info .text-color {
  color: #505253;
  font-size: 14px;
}
.product-card .product-info .colors div {
  margin-top: 3px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  float: left;
}
.product-card .product-info .colors div span {
  width: 15px;
  height: 15px;
  display: block;
  border-radius: 50%;
  border: 1.5px solid #eee;
  transition: transform 0.3s;
}
.product-card .product-info .colors div span:hover {
  transform: scale(1.2);
}
.product-card .product-actions {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 18px;
  z-index: 9;
  padding: 0px 5px 5px 15px;
  text-align: right;
}
.product-card .product-actions div, .product-card .product-actions button {
  padding: 10px 8px 5px 8px;
  display: inline-table;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 60px;
  font-size: 18px;
  line-height: 18px;
  padding-top: 9px;
  overflow: hidden;
  color: #000;
  position: relative;
  border: 1px solid #eee;
  -webkit-box-shadow: -1.5px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -1.5px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-align: left;
}
.product-card .product-actions div i, .product-card .product-actions button i {
  display: inline-block;
  color: #222222;
}
.product-card .product-actions .addCart-btn {
  padding-top: 8px;
}
.product-card .product-actions .addCart-btn span {
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
  position: absolute;
  right: 19px;
  top: 20px;
  opacity: 0;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.product-card .product-actions .addCart-btn:hover {
  width: 165px;
  padding: 8px 13px 0;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.product-card .product-actions .addCart-btn:hover span {
  opacity: 1;
  top: 10px;
  -webkit-transition: all 0.4s ease 0.3s;
  -o-transition: all 0.4s ease 0.3s;
  transition: all 0.4s ease 0.3s;
}
.product-card .product-actions .addCart-btn:hover i {
  font-weight: bold;
  color: #44c28d;
}
.product-card .product-actions .wishlist-btn:hover i {
  font-weight: bold;
  color: #D81B60;
}
.product-card .product-actions .compare-btn:hover i {
  font-weight: bold;
  color: #00ACC1;
}

.filter-bar .el-card {
  margin-bottom: 10px;
}
.filter-bar .el-card__header {
  padding: 14px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #535353;
  text-align: right;
}
.filter-bar .el-card__body {
  padding: 12px !important;
  text-align: right;
}
.filter-bar .el-tree {
  transform: scaleX(-1);
}
.filter-bar .el-tree .el-tree-node {
  margin: 5px;
}
.filter-bar .el-tree .el-tree-node__label {
  transform: scaleX(-1);
  font-size: 13px;
  padding: 5px;
}
.filter-bar .available-products .v-input--selection-controls {
  padding-bottom: 4px;
}
.filter-bar .available-products .v-input--switch {
  direction: rtl;
  margin: 0;
}
.filter-bar .available-products .v-input--switch .v-input__slot {
  margin: 0;
}
.filter-bar .available-products .v-input--switch .v-messages {
  display: none;
}
.filter-bar .available-products .v-input--switch label {
  font-size: 14px;
  color: #535353;
  margin: 0;
  margin-top: 3px;
}
.filter-bar .available-products .v-input--switch .v-input--selection-controls__input {
  direction: ltr;
  margin-left: 20px;
}

footer {
  background: #fafafa;
  border-top: 1.5px solid #cfd8dc;
  text-align: right;
  margin-top: 40px;
  padding: 25px 0px;
}
footer .footer-logo {
  max-height: 80px;
  max-width: 100%;
}
footer h1, footer .col-header {
  direction: rtl;
  color: #5d5959;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
footer p.description {
  font-size: 13px;
  color: #767676;
  line-height: 30px;
  margin-bottom: 0;
}
footer hr {
  background-color: #cfd8dc;
  height: 0.1px;
  width: 100%;
}
footer ul.col-list li {
  font-size: 13px;
  color: #767676;
  line-height: 25px;
  margin-bottom: 5px;
}
footer ul.col-list li a {
  color: #767676;
  transition: color 0.3s;
}
footer ul.col-list li a:hover {
  color: #484848;
}
footer .trust-symbol {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .trust-symbol div {
  background: #fff;
  padding: 10px;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
}
footer .trust-symbol div img {
  height: 100px;
  width: 100px;
}

@media (max-width: 770px) {
  footer .container {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
  footer .trust-symbol div img {
    height: 70px;
    width: 70px;
  }
}
@font-face {
  font-family: "iransans";
  src: url("~assets/Fonts/Iransans/Iransans.eot") format("eot"), url("~assets/Fonts/Iransans/Iransans.woff") format("woff"), url("~assets/Fonts/Iransans/Iransans.woff2") format("woff2"), url("~assets/Fonts/Iransans/Iransans.ttf") format("truetype");
}
html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "iransans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-color: #222222;
  box-sizing: border-box;
}
html body {
  height: 100%;
  background: #f5f5f5;
}

* {
  font-family: "iransans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  outline: none;
}
*:before {
  box-sizing: border-box;
  margin: 0;
  outline: none !important;
}
*:focus {
  outline: none !important;
}

main {
  padding-top: 125px;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

article, aside, footer, header, nav, section {
  display: block;
}

.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}

.bold {
  font-weight: bold !important;
}

.rounded-7 {
  border-radius: 7px !important;
}

.el-shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !important;
}

.am-shadow {
  box-shadow: 0 5px 10px -8px #00bcd421, 0 6px 25px -12px rgba(0, 0, 0, 0.1) !important;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.slider .swiper-container, img.poster, .aside-poster {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.image-slider {
  width: 100%;
  max-height: 400px;
}

/*# sourceMappingURL=Styles.css.map */
