.site-logo {
  max-height: 50px;
  max-width: 150px;
}

.link-logo {
  max-width: 50%;
}

.smt-header {
  background: #fff;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 999;
}
.smt-header .login-text {
  font-size: 14px;
  color: #6c757d !important;
}
.smt-header .cart-btn span {
  font-size: 13px;
}
.smt-header .cart-btn i {
  font-size: 22px;
  margin-left: 6px !important;
}
.smt-header .categories {
  background: #616161;
  height: 40px;
  width: 100%;
  padding: 0px 3rem;
  border-bottom: 2px solid black;
}
.smt-header .categories > ul {
  display: flex;
  position: relative;
  height: 100%;
  list-style-type: none;
}
.smt-header .ctg-hover {
  position: absolute;
  height: 2px;
  width: 90px;
  bottom: -1px;
  right: 0;
  border-radius: 50px;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.smt-header li.ctg-item > a {
  display: flex;
  align-items: center;
  height: 100%;
  color: #fff;
  padding: 8px 15px;
  white-space: nowrap;
  font-size: 12px;
  transition: box-shadow 0.5s;
}
.smt-header li.ctg-item > a:hover {
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
}
.smt-header li.ctg-item i.lnr {
  font-size: 9px !important;
  margin-top: 1px;
}
.smt-header li.ctg-item i.fas {
  font-size: 9px !important;
  margin-top: 1px;
}

.mega-menu {
  text-align: right !important;
  width: 75%;
  right: 0;
  left: auto !important;
  border: unset !important;
  border-radius: 0px 0px 7px 7px !important;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.mega-menu p.sub_1 {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  display: inline-block;
  margin-bottom: 5px;
  transition: color 0.4s;
}
.mega-menu ul.sub_2 {
  padding-right: 20px;
  font-size: 11px;
}
.mega-menu ul.sub_2 li {
  padding: 5px 0px;
  transition: transform 0.3s;
}
.mega-menu ul.sub_2 li:hover {
  transform: translateX(-3px);
}
.mega-menu ul.sub_2 a {
  color: #6c757d;
  transition: color 0.3s;
}
.mega-menu ul.sub_2 a:hover {
  color: #17a2b8;
}
.mega-menu .row.flex-column {
  max-height: 270px;
  overflow: auto;
}
.mega-menu .col-3, .mega-menu .col-4 {
  display: inline-table;
}

.hamburger {
  padding: 15px 15px;
  padding-right: 4px;
  display: flex;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  float: right;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner {
  background-color: #5d5959;
}
.hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: #5d5959;
}

.hamburger-box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 35px;
  height: 4px;
  background-color: #5d5959;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
  width: 35px;
  height: 4px;
  background-color: #5d5959;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes fadeIn-image-overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
#card-component {
  perspective: 800px;
  width: 100%;
  height: 320px;
  overflow: hidden;
  padding-top: 1px;
  transform-style: preserve-3d;
  transition: transform 5s;
  border-radius: 7px;
  transition: box-shadow 0.2s, transform 0.2s;
}
#card-component.hover:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}

.product-card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  transform-style: preserve-3d;
  -webkit-transition: 100ms ease-out;
  -moz-transition: 100ms ease-out;
  -o-transition: 100ms ease-out;
  transition: 100ms ease-out;
}
.product-card.animate {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: 100ms ease-out;
  -moz-transition: 100ms ease-out;
  -o-transition: 100ms ease-out;
  transition: 100ms ease-out;
}
.product-card.animate .image-overlay {
  display: block !important;
}
.product-card.animate .product-info {
  top: 80px !important;
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
}
.product-card.animate .product-info.labled {
  top: 120px !important;
}
.product-card .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222222;
  display: none;
  opacity: 0;
  animation-name: fadeIn-image-overlay;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
}
.product-card .product-info {
  background: #fff;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  width: 100%;
  height: 240px;
  padding: 15px 25px;
  transition: top 0.3s 0.2s, border-top-left-radius 0.3s 0.3s, border-top-right-radius 0.3s 0.3s;
}
.product-card .product-info.labled {
  height: 200px;
}
.product-card .product-info .product-name {
  color: #505253;
  font-size: 13px;
  max-width: 100%;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-card .product-info .product-price {
  color: #484848;
  font-size: 18px;
  font-weight: 600;
}
.product-card .product-info .product-price span {
  font-size: 12px;
}
.product-card .product-info .offer-price {
  display: block;
  position: relative;
  height: 20px;
  font-size: 13px;
  color: #9E9E9E;
  margin-bottom: 5px;
}
.product-card .product-info .offer-price span:after {
  content: " ";
  position: absolute;
  background: currentColor;
  width: 28%;
  height: 1px;
  top: 8px;
  left: 50%;
  border-radius: 50px;
  -webkit-transform: translateX(-50%) rotate(-5deg);
  -ms-transform: translateX(-50%) rotate(-5deg);
  transform: translateX(-50%) rotate(-5deg);
}
.product-card .product-info .text-color {
  color: #505253;
  font-size: 14px;
}
.product-card .product-info .colors div {
  margin-top: 3px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  float: left;
}
.product-card .product-info .colors div span {
  width: 15px;
  height: 15px;
  display: block;
  border-radius: 50%;
  border: 1.5px solid #eee;
  transition: transform 0.3s;
}
.product-card .product-info .colors div span:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.product-card .product-actions {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 18px;
  z-index: 9;
  padding: 0px 5px 5px 15px;
  text-align: right;
}
.product-card .product-actions div, .product-card .product-actions button {
  padding: 10px 8px 5px 8px;
  display: inline-table;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 60px;
  font-size: 18px;
  line-height: 18px;
  padding-top: 9px;
  overflow: hidden;
  color: #000;
  position: relative;
  border: 1px solid #eee;
  -webkit-box-shadow: -1.5px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -1.5px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-align: left;
}
.product-card .product-actions div i, .product-card .product-actions button i {
  display: inline-block;
  color: #222222;
}
.product-card .product-actions .addCart-btn {
  padding-top: 8px;
}
.product-card .product-actions .addCart-btn span {
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
  position: absolute;
  right: 19px;
  top: 20px;
  opacity: 0;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.product-card .product-actions .addCart-btn:hover {
  width: 165px;
  padding: 8px 13px 0;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.product-card .product-actions .addCart-btn:hover span {
  opacity: 1;
  top: 10px;
  -webkit-transition: all 0.4s ease 0.3s;
  -o-transition: all 0.4s ease 0.3s;
  transition: all 0.4s ease 0.3s;
}
.product-card .product-actions .addCart-btn:hover i {
  font-weight: bold;
  color: #44c28d;
}
.product-card .product-actions .wishlist-btn:hover i {
  font-weight: bold;
  color: #D81B60;
}
.product-card .product-actions .compare-btn:hover i {
  font-weight: bold;
  color: #00ACC1;
}

#mini-card-component .product-name {
  text-align: right;
  font-size: 13px;
  color: #555;
  line-height: 2;
  margin-bottom: 10px;
}
#mini-card-component .product-name.small {
  font-size: 12px;
}
#mini-card-component .product-name.mini {
  font-size: 11px;
  font-weight: 400;
}
#mini-card-component .variations {
  text-align: right;
  color: #808080;
  font-size: 12px;
  margin-bottom: 0;
}
#mini-card-component .variations li {
  margin-bottom: 5px;
}
#mini-card-component .el-color {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  margin-right: 10px;
}
#mini-card-component .variations-small {
  text-align: right;
  color: #808080;
  font-size: 10px;
}
#mini-card-component .variations-small li {
  display: inline-block;
  padding: 0px 8px;
}
#mini-card-component .variations-small li:nth-child(n+2) {
  border-right: 1px solid #e0e0e0;
}
#mini-card-component .variations-small.mini {
  font-size: 9px;
}
#mini-card-component .includeIconOnly.small {
  height: 35px !important;
  width: 35px !important;
  border-radius: 12px !important;
  background: rgba(255, 71, 87, 0.05) !important;
  border: unset;
  color: rgba(255, 71, 87, 0.71) !important;
}

.filter-bar {
  height: fit-content;
}
.filter-bar .el-card {
  margin-bottom: 10px;
}
.filter-bar .el-card.collapsible .el-card__body {
  padding: 0px !important;
}
.filter-bar .el-card.collapsible .el-card__body button.v-expansion-panel-header {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.filter-bar .el-card.collapsible .el-card__body button.v-expansion-panel-header span {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  text-align: right;
  color: #5d5959;
}
.filter-bar > .el-card:last-child {
  margin-bottom: 2px !important;
}
.filter-bar .el-card__header {
  padding: 14px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #767676;
  text-align: right;
}
.filter-bar .el-card__body {
  padding: 12px !important;
  text-align: right;
}
.filter-bar .el-tree {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.filter-bar .el-tree .el-tree-node {
  margin: 5px;
}
.filter-bar .el-tree .el-tree-node__label {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  font-size: 13px;
  padding: 5px;
}
.filter-bar .el-tree .el-tree__empty-block {
  min-height: 30px !important;
}
.filter-bar .el-tree .el-tree__empty-block .el-tree__empty-text {
  -webkit-transform: translate(-50%, -50%) scaleX(-1);
  -ms-transform: translate(-50%, -50%) scaleX(-1);
  transform: translate(-50%, -50%) scaleX(-1);
  width: 100%;
  font-size: 13px;
}
.filter-bar .available-products .v-input--selection-controls {
  padding: 0px !important;
}
.filter-bar .available-products .v-input--switch {
  direction: rtl;
  margin: 0;
}
.filter-bar .available-products .v-input--switch .v-input__slot {
  margin: 0;
}
.filter-bar .available-products .v-input--switch .v-messages {
  display: none;
}
.filter-bar .available-products .v-input--switch label {
  font-size: 13px;
  color: #767676;
  margin: 0;
  margin-top: 3px;
}
.filter-bar .available-products .v-input--switch .v-input--selection-controls__input {
  direction: ltr;
  margin-left: 20px;
}
.filter-bar .el-checkbox-group > div {
  display: grid;
  padding-right: 20px;
}
.filter-bar .el-checkbox-group .el-checkbox__inner {
  width: 16px !important;
  height: 16px !important;
  border-radius: 4px !important;
}
.filter-bar .el-checkbox-group .el-checkbox__inner::after {
  top: 2px;
  left: 4.9px;
  border: 1.5px solid #FFF;
  border-left: 0;
  border-top: 0;
}
.filter-bar .el-checkbox-group .filter-list.el-checkbox {
  direction: rtl;
  cursor: pointer;
  margin-right: 0 !important;
  margin-bottom: 5px;
}
.filter-bar .el-checkbox-group .filter-list.el-checkbox .el-checkbox__label {
  font-size: 12px;
  padding-right: 15px;
}
.filter-bar .el-checkbox-group .filter-list.el-checkbox .el-checkbox__input {
  margin-top: 5px;
}
.filter-bar .el-color {
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
  top: 7px;
  left: 13px;
  border: 1px solid #dcdee2;
  border-radius: 50px;
}

.helper-filter-bar {
  position: absolute;
  top: 0;
  width: 100%;
}

.products-ctg .el-card__header {
  padding: 10px 20px;
  border: 1px solid #e8eaec;
  border-bottom: unset;
  border-radius: 4px 4px 0px 0px;
}
.products-ctg .el-card__header .header {
  direction: rtl;
  text-align: right;
  display: flex;
  align-items: center;
}
.products-ctg .el-card__header .header > span {
  font-size: 12px;
}
.products-ctg .el-card__header label {
  margin: 0px 3px;
}
.products-ctg .el-card__header label span {
  font-size: 11px;
}
.products-ctg .el-card__header .el-radio-button__inner {
  border: unset !important;
  border-radius: 7px !important;
}
.products-ctg .product {
  padding: 0.5rem 0px !important;
  border: 1px solid #e8eaec;
  transition: box-shadow 0.2s;
}
.products-ctg .product:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.pagination-ctg {
  direction: rtl;
  background: #FFF;
  padding: 10px 20px;
  border: 1px solid #ebebeb;
  border-radius: 0px 0px 4px 4px;
}

.filter-btn {
  text-align: center;
  margin-bottom: 15px;
}
.filter-btn div {
  background: #fff;
  cursor: pointer;
  padding: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1) !important;
  border-radius: 7px;
}
.filter-btn span {
  color: #767676;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-btn span i {
  margin-left: 10px;
  font-size: 20px;
}

.SortDialog label {
  margin-right: 10px;
  font-size: 0.875rem;
  color: #767676 !important;
}

#categories-overlay {
  position: fixed;
  right: 0;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  content: "";
  background: rgba(74, 74, 74, 0.43);
  opacity: 0;
  z-index: 233;
  transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
  pointer-events: none;
}
#categories-overlay.show {
  opacity: 1;
}

.single-product {
  text-align: right;
}
.single-product .gallery-thumbs {
  padding: 10px 0 0;
}
.single-product .gallery-thumbs .swiper-slide {
  width: 18%;
  height: 100%;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.single-product .gallery-thumbs .swiper-slide-active {
  opacity: 1;
}
.single-product .gallery-thumbs .thumb {
  border: 1px solid #ccc;
  border-radius: 4px;
}
.single-product .gallery-thumbs .thumb .v-image {
  border-radius: 4px;
}
.single-product .title {
  color: #484848;
  font-size: 18px;
  font-weight: bold;
  margin: 0.5rem 0;
  line-height: 28px;
}
.single-product .info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.single-product .attributes {
  position: relative;
  flex-grow: 1;
  margin-top: 0.5rem;
  padding: 1.5rem 1rem 1rem;
  color: #6b6b6b;
}
.single-product .attributes > .row {
  height: 100%;
}
.single-product .box-info {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  padding: 1rem;
}
.single-product .box-info p {
  flex-grow: 1;
}
.single-product .active-spec > span {
  color: #55565a;
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}
.single-product .active-spec li {
  position: relative;
  margin: 8px 0px;
  font-size: 12px;
  padding-right: 20px;
}
.single-product .active-spec li::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 6px;
  right: 5px;
  background: #ccc;
  border-radius: 50%;
}
.single-product .features {
  height: 80px;
  width: 100%;
}
.single-product .second-title {
  position: absolute;
  background: #fff;
  color: #b5b5b5;
  top: -10px;
  right: 0;
  font-size: 13px;
  padding-left: 10px;
}
.single-product .price {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 16px;
}
.single-product .product-description {
  color: #6b6b6b;
  line-height: 25px;
}
.single-product .add-to-cart {
  position: relative;
  max-height: 40px;
  font-size: 12px;
  overflow: hidden;
  padding-right: 15px !important;
}
.single-product .add-to-cart i {
  font-size: 20px;
  margin-left: 25px;
  margin-bottom: 3px;
}
.single-product .add-to-cart::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 270px;
  background: #fff;
  opacity: 0.15;
  transition: transform 0.5s;
  transform: skew(-20deg) translateX(178px);
}
.single-product .add-to-cart:hover::after {
  transform: skew(-20deg) translateX(-91px);
}
.single-product ul.variations {
  min-height: 75px;
}
.single-product ul.variations li {
  margin: 0.7rem 0.1rem;
  display: flex;
  align-items: center;
}
.single-product ul.variations li i {
  font-size: 14px;
  margin-left: 8px;
}
.single-product ul.variations .el-radio {
  margin: 0px 4px !important;
  padding: 6px 15px 0 15px !important;
}
.single-product ul.variations .el-radio .el-radio__input {
  display: none;
}
.single-product ul.variations .el-radio .el-radio__label {
  padding: 0px;
  font-size: 11px !important;
}
.single-product .review-text {
  background: #fcfcfc;
}
.single-product .spec-title {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 14.5px;
  font-weight: bold;
}
.single-product .row-title {
  background: #f5f5f5;
  color: #777777;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  font-size: 12px;
  border-left: 8px solid #fff;
}
.single-product .row-value {
  background: #fafafa;
  color: #777777;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  margin-right: auto;
  font-size: 12px;
}
.single-product .comments, .single-product .questions {
  margin: 0;
  direction: rtl;
}
.single-product .comments-note {
  padding: 1.5rem;
}
.single-product .comments-note > span {
  color: #5a5a5a;
  font-size: 16px;
}
.single-product .comments-note p {
  color: #676767;
  margin-top: 1rem;
  font-size: 13px;
}
.single-product .ranks {
  background: #fcfcfc;
  padding: 1.5rem;
  font-size: 14px;
  border-radius: 7px;
}
.single-product .el-alert__closebtn {
  right: unset !important;
  left: 15px;
}
.add-comment .vs-dialog {
  max-width: 600px !important;
}

@media (max-width: 768px) {
  .single-product .title {
    font-size: 15px;
    margin: 0.8rem 0;
  }
  .single-product .row-title {
    margin-bottom: 0;
    border-left: unset;
  }
}
.cart {
  color: #515151;
}
.cart .el-card {
  color: #515151 !important;
}
.cart .input-number {
  direction: ltr;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart .product-price {
  font-weight: normal;
}
.cart .product-price::after {
  content: attr(data-price);
  font-size: 12px;
}

.checkout-prices {
  padding: 0 !important;
}
.checkout-prices li {
  direction: rtl;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 15px;
}
.checkout-prices span {
  font-weight: bold;
  font-weight: 400;
}
.checkout-prices span::after {
  content: attr(data-price);
  font-size: 12px;
}

.final-price-topay {
  direction: rtl;
  display: block;
  font-size: 20px;
  padding: 15px 0;
  text-align: center;
  font-weight: bold;
}
.final-price-topay::after {
  content: attr(data-price);
  font-size: 14px;
}

.final-price-title {
  color: #676767;
  display: block;
  font-size: 14px;
  text-align: center;
}

.checkout-submit .v-btn {
  height: 48px !important;
}
.checkout-submit .theme--dark.v-btn.v-btn--disabled,
.checkout-submit .theme--dark.v-btn.v-btn--disabled .v-icon {
  color: #fff !important;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .checkout-submit {
    background: #f5f5f5;
    position: fixed;
    bottom: -1px;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 10px;
  }

  .final-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .final-price .final-price-title {
    font-weight: 700;
  }
  .final-price .final-price-topay {
    padding: 0;
  }

  .checkout-prices li {
    font-size: 13px;
  }
  .checkout-prices span {
    font-weight: 700;
  }
}
.checkout .v-stepper {
  background: transparent !important;
  box-shadow: unset !important;
}
.checkout .v-stepper__header {
  background: #fff;
  border-radius: 10px;
  direction: rtl;
}
.checkout .v-stepper__content {
  padding: 0px !important;
}
.checkout .v-stepper__label {
  font-size: 12px;
}
.checkout .v-stepper__step__step {
  height: 40px !important;
  width: 40px !important;
  border-radius: 15px !important;
  margin-bottom: 15px !important;
  font-size: 13px;
}
.checkout .v-stepper__step__step i {
  font-weight: 700;
}
.checkout .v-stepper__step--complete .v-stepper__step__step {
  background-color: #00E676 !important;
  border-color: #00E676 !important;
  box-shadow: 0px 2px 5px -2px #00E676 !important;
}
@media only screen and (max-width: 959px) {
  .checkout .v-stepper:not(.v-stepper--vertical) .v-stepper__label {
    display: flex !important;
    font-size: 11px;
    max-width: 90px;
    line-height: 1.5;
    text-align: center;
  }
  .checkout .v-stepper--alt-labels .v-stepper__step {
    flex-basis: 33.3% !important;
  }
}
.checkout .v-stepper__header .v-divider {
  margin: 44px -35px 0 !important;
  align-self: flex-start;
}
.checkout .v-input--radio-group--row .v-radio:first-child {
  margin-right: 0;
}
.checkout .v-label {
  font-size: 14px !important;
  color: #767676;
  padding-right: 10px !important;
}
.checkout #mini-card-component .product-name.mini {
  text-align: center !important;
}
.checkout .box-address-group {
  border: 2px solid #dcdee2;
  border-radius: 7px;
  margin-bottom: 15px;
}
.checkout .box-address-group:last-child {
  margin-bottom: 0;
}
.checkout .box-address-group button::before {
  opacity: 0.04;
}
.checkout .box-address-group.active {
  border-color: #0ecfc6;
  border-width: 3px;
}
.checkout .box-address-group.active button::before {
  opacity: 0.08;
}
@media (min-width: 768px) {
  .checkout .box-address li {
    display: inline-flex;
    margin-bottom: 0px;
  }
}
.checkout .headline-address-group {
  direction: rtl;
  display: flex;
  align-items: center;
  color: #5d5959;
  font-size: 14px;
  text-align: right;
  padding-right: 20px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.checkout .headline-address-group button {
  height: 30px;
  width: 30px;
}
.checkout .headline-address-group i {
  font-size: 20px !important;
}
@media (max-width: 768px) {
  .checkout .headline-address-group {
    font-size: 12px !important;
  }
}

.profile {
  color: #515151;
}
.profile .el-card {
  color: #515151;
}
.profile .box-header {
  text-align: center;
  border-bottom: 1px solid #EBEEF5;
}
.profile .box-username {
  padding: 35px 30px 20px;
  text-align: center;
  font-size: 15px;
}

.box-actions {
  border-top: 1px solid #EBEEF5;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.box-actions.small button {
  padding: 9px 16px !important;
}
.box-actions button {
  border-right: 1px solid #EBEEF5;
  border-radius: 0 !important;
  height: unset !important;
  padding: 12px 16px !important;
}
.box-actions span {
  font-size: 11px;
}
.box-actions i {
  font-size: 20px;
  margin: 0 0 2px 7px;
}

.profile-menu {
  direction: rtl;
  text-align: right;
  font-size: 13px;
}
.profile-menu ul {
  direction: rtl;
  text-align: right;
  border-right: unset !important;
}
.profile-menu i {
  margin-left: 7px;
  margin-bottom: 5px;
  font-size: 20px !important;
}

.headline-info {
  direction: rtl;
  display: block;
  color: #767676;
  font-size: 16px;
  text-align: right;
  padding: 0px 20px;
  margin: 15px 0px;
}
.headline-info + .el-card {
  height: calc(100% - 54px);
}

.user-info {
  margin: 0px !important;
}
.user-info > div[class^=col-] {
  text-align: right;
  padding: 20px 30px;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.user-info p {
  color: #737373;
  font-size: 15px;
  margin: 0 !important;
}
.user-info span {
  display: block;
  font-size: 13px;
  margin-bottom: 7px;
  color: #bababa;
}

.recent-fav {
  border-bottom: 1px solid #f1f1f1;
}

@media (min-width: 1265px) {
  .addresses .col-lg-6:nth-child(even), .favorites .col-lg-6:nth-child(even) {
    padding-right: 0;
  }

  .col-even {
    padding-right: 0;
  }
}
.box-address {
  direction: rtl;
  position: relative;
  padding: 25px 25px 15px;
}
.box-address::before {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #00bfd6 48px, #ff7e7e 0) repeat-x;
  background-size: 96px 3px;
}
@media (max-width: 768px) {
  .box-address {
    padding: 20px 20px 10px;
  }
}

.box-address-group .box-address::before {
  content: unset;
}

.address-fullname {
  font-size: 17px;
  text-align: right;
  margin-bottom: 10px;
  color: #6d6d6d;
}

.address-text, .address-data {
  font-size: 13px;
  line-height: 2;
  text-align: right;
  margin-bottom: 20px;
  color: #808695;
}

.address-data {
  margin: 0;
}
.address-data li {
  display: flex;
  margin-bottom: 10px;
}
.address-data li:last-child {
  margin-bottom: 0;
}
.address-data i {
  font-size: 18px;
  margin-left: 12px;
  color: #9ea7b4;
  display: inline-flex;
  align-items: center;
}

.title-address-dialog {
  text-align: right;
  justify-self: flex-start;
  font-size: 15px;
  font-weight: bold;
  color: #767676;
}
.title-address-dialog i {
  font-size: 22px !important;
  color: #808695 !important;
  margin-left: 7px;
  margin-top: -2px;
}

.new-address-map {
  direction: ltr;
}
.new-address-map .vue2leaflet-map {
  height: 332px;
  width: 100%;
  border-radius: 5px;
  border-width: 1.5px !important;
}

@media (max-width: 768px) {
  .address-fullname {
    font-size: 15px;
  }

  .address-text, .address-data {
    font-size: 11px;
    margin-bottom: 15px;
  }

  .address-data {
    margin: 0;
  }
  .address-data li {
    margin-bottom: 5px;
    font-size: 11px !important;
  }
  .address-data i {
    font-size: 14px;
  }
}
footer {
  background: #fafafa;
  border-top: 1.5px solid #dcdee2;
  text-align: right;
  margin-top: 40px;
  padding: 25px 0px;
}
footer h1, footer .col-header {
  direction: rtl;
  color: #5d5959;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
footer .description {
  font-size: 13px;
  color: #767676;
  line-height: 30px;
  margin-bottom: 0;
}
footer hr {
  background-color: #e8eaec;
  height: 0.1px;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}
footer .col-list li {
  font-size: 13px;
  color: #767676;
  line-height: 25px;
  margin-bottom: 5px;
}
footer .col-list a {
  color: #767676;
  transition: color 0.3s;
}
footer .col-list a:hover {
  color: #5d5959;
}

.footer-logo {
  max-height: 80px;
  max-width: 100%;
}

.trust-symbol {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.trust-symbol div {
  background: #fff;
  padding: 10px;
  border: 1px solid #dcdee2;
  border-radius: 4px;
}
.trust-symbol img {
  height: 100px;
  width: 100px;
}

@media (max-width: 770px) {
  footer .container {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }

  .trust-symbol div img {
    height: 70px;
    width: 70px;
  }
}
@font-face {
  font-family: "iransans";
  src: url("~assets/Fonts/Iransans/Iransans.eot") format("eot"), url("~assets/Fonts/Iransans/Iransans.woff") format("woff"), url("~assets/Fonts/Iransans/Iransans.woff2") format("woff2"), url("~assets/Fonts/Iransans/Iransans.ttf") format("truetype");
}
html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "iransans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-color: #222222;
  box-sizing: border-box;
}
html body {
  height: 100%;
  background: #f5f5f5;
}

* {
  font-family: "iransans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  outline: none;
}
*:before {
  box-sizing: border-box;
  margin: 0;
  outline: none !important;
}
*:focus {
  outline: none !important;
}

main {
  padding-top: 125px;
}

a {
  text-decoration: none !important;
}

p {
  direction: rtl;
  text-align: justify;
  line-height: 2;
}

ul {
  margin: 0;
  list-style-type: none;
}

article, aside, footer, header, nav, section {
  display: block;
}

label {
  margin: 0 !important;
}

legend {
  width: unset !important;
}

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  transition: opacity 0.3s;
}
#loading .gooey {
  width: 150px;
  height: 40px;
  background: #fff;
  filter: contrast(20);
}
#loading .gooey .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
#loading .gooey .dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}
#loading .gooey .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}

.loading-logo {
  max-height: 150px;
  max-width: 150px;
  margin-bottom: 20px;
}

@keyframes fade-infinite {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
hr.v-divider {
  margin: 0;
}

.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}

.bold {
  font-weight: bold !important;
}

.rounded-7 {
  border-radius: 7px !important;
}

.as-shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !important;
}

.am-shadow {
  box-shadow: 0 5px 10px -8px #00bcd421, 0 6px 25px -12px rgba(0, 0, 0, 0.1) !important;
}

.search-input input {
  background: #f8f8f8;
  border: unset;
  color: #555;
  border-radius: 7px;
  font-size: 12px;
}
.search-input input::placeholder {
  color: #808695;
  font-size: 12px;
}
.search-input .el-input__icon {
  color: #808695;
}

.add-btn-dashed {
  border: 4px dashed #b8b8b8;
  background: #fff;
  color: #a0a0a0;
  padding: 15px 0px;
  font-size: 14px;
  line-height: 2;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 7px;
}

.alert {
  direction: rtl;
  text-align: right;
}

.el-link span {
  display: flex;
  align-items: center;
}
.el-link span i {
  font-size: 20px;
  margin-left: 7px;
}

.v-dialog {
  background: #fff;
}

.v-dialog--fullscreen {
  width: 100% !important;
}

.dialog-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: right;
  font-size: 15px;
  font-weight: bold;
  line-height: 2rem;
  padding: 8px 20px 8px 10px;
  color: #767676;
}

.dialog-content {
  padding: 20px 25px;
}

span.title-field {
  direction: rtl;
  display: block;
  position: relative;
  text-align: right;
  color: #767676;
  margin-bottom: 10px;
  font-size: 14px;
  padding-right: 5px;
}
span.title-field.required::after {
  color: #ff0000 !important;
  content: "*";
  font-size: 15px;
}

.v-text-field--outlined > .v-input__control > .v-input__slot {
  min-height: 45px !important;
}

.v-text-field--outlined .v-label {
  font-size: 12px;
  top: 13px !important;
  right: 0 !important;
  text-align: right;
  color: #9ea7b4 !important;
}

.v-text-field .v-text-field__details {
  margin-bottom: 0px !important;
  min-height: 20px !important;
}

.v-messages__message {
  font-size: 10px;
}

.v-text-field.primary--text fieldset, .v-text-field.error--text fieldset {
  border-width: 1px !important;
}
.v-text-field i {
  font-size: 22px !important;
}

.v-text-field:not(.primary--text, .error--text) fieldset {
  border-color: #9b9b9b !important;
}

.v-text-field--outlined .v-input__append-inner {
  margin-top: 11px !important;
  padding-left: 0 !important;
}

.v-menu__content {
  direction: rtl;
}

.v-select-list .v-list-item {
  min-height: 37px !important;
}
.v-select-list .v-list-item__title {
  font-size: 13px;
  text-align: right;
}

.v-select__selection {
  font-size: 13px;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.h-20 {
  height: 20% !important;
}

.h-80 {
  height: 80% !important;
}

.v-btn--disabled {
  box-shadow: unset !important;
}
.v-btn--disabled.as-btn {
  background: unset !important;
}

.v-btn__content {
  letter-spacing: 0px;
}

.slider .swiper-container, img.poster, .aside-poster {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.image-slider {
  width: 100%;
  max-height: 400px;
}

.el-card.am-shadow {
  border: unset !important;
}
@media (max-width: 768px) {
  .el-card.am-shadow {
    border-radius: 10px;
  }
}

.v-html p {
  text-align: justify !important;
  direction: rtl;
  font-size: 13.5px;
  color: #505050;
  line-height: 2.7;
}

.Advantages {
  color: #00E676;
}

.Disadvantages {
  color: #ff637d;
}

.flex-center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.vs-popup--title h3 {
  text-align: center;
  color: #777777;
  font-weight: bold;
  margin: 5px;
}

.con-vs-slider {
  min-width: unset !important;
}

.title-input {
  display: block;
  position: relative;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  color: #484848;
  margin-bottom: 0.5rem;
  padding-right: 5px;
}

.title-input.required:after {
  color: #ff0000 !important;
  content: "*";
  font-size: 15px;
}

.input .v-text-field .v-input__slot {
  min-height: 45px !important;
  max-height: 45px !important;
}
.input .v-text-field .v-input__slot .v-label {
  top: 12px !important;
  font-size: 13px !important;
}
.input .v-text-field input {
  font-size: 13px;
}
.input .v-text-field .v-input__prepend-inner {
  margin-top: 10px !important;
}

.v-textarea .v-input__slot {
  padding-left: 0px !important;
}
.v-textarea .v-text-field__slot label {
  right: 12px !important;
  font-size: 12px;
}
.v-textarea textarea {
  text-align: right;
  font-size: 13px;
  line-height: 2 !important;
  padding-left: 12px !important;
  margin-top: 0px !important;
}

/*# sourceMappingURL=Styles.css.map */
